#logo {
  @media (max-width: 480px) {
    height: 45px;
    padding: 4px 0 2px 8px;
  }

  padding: 8px 0 4px 16px;
  height: 60px;
}

#header-container {
  margin-top: 0;
  display: flex;
  box-shadow: 0 0 8px 0 #69E9F5;
  width: 100%;
  flex-direction: row;
}

#location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 4px #69E9F5;
  border-radius: 16px;

  @media (max-width: 480px) {
    margin: 8px 0 0;
    width: 400px;
  }

  margin: 16px 0 0;
  width: 600px;
}

#filtered-container {
  display: flex;
  flex-direction: row;

  @media (max-width: 480px) {
    margin: 8px 0 0;
    gap: 4px;
  }

  margin: 16px 0 0;
  gap: 8px;
}

#location-selector {
  @media (max-width: 480px) {
    width: 400px;
    font-size: 12px;
  }

  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 600px;
  padding: 4px;
  font-family: Verdana;
  color: #645FCD;
  font-size: 14px;
}

#state-selector {
  @media (max-width: 480px) {
    width: 75px;
    font-size: 12px;
  }

  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #645FCD;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px;
  width: 125px;
  font-family: Verdana;
  color: #645FCD;
  justify-content: center;
  box-shadow: 0 2px 4px #69E9F5;
}

#filtered-location-selector {
  @media (max-width: 480px) {
    width: 225px;
    font-size: 12px;
  }
  
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #645FCD;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 460px;
  padding: 4px;
  font-family: Verdana;
  color: #645FCD;
  justify-content: center;
  box-shadow: 0 2px 4px #69E9F5;
}

#app-body {
  @media (max-width: 480px) {
    font-size: 12px;
  }

  font-family: Verdana;
  color: #645FCD;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: unset;
  padding: unset;
}

.card-container {
  @media (max-width: 480px) {
    margin: 12px 0 0;
    padding: 6px;
    width: 400px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: Verdana;
  margin: 16px 0 0;
  border: 1px #645FCD solid;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 2px 4px #69E9F5;
  text-align: center;
  width: 600px;
}

p {
  margin: unset !important;
}

#date-selectors-container {
  @media (max-width: 480px) {
    margin: 8px 0 0;
    width: 400px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 0;
  width: 600px;
}

#date-selectors-container p {
  @media (max-width: 480px) {
    margin: 0 0 8px !important;
  }

  margin: 0 0 16px !important;
}

#date-selectors {
  @media (max-width: 480px) {
    column-gap: 8px;
    width: 400px;
    flex-direction: column;
    gap: 8px;
  }

  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  width: 600px;
}

#date-search-button {
  @media (max-width: 480px) {
    margin: 4px 0 0;
  }
}

#date-selectors input {

  @media (max-width: 480px) {
    width: 250px;
    padding: 2px 2px;
  }

  text-align: center;
  color: #645FCD;
  padding: 4px 4px;
  border-radius: 16px;
  border: 1px solid #645FCD;
  box-shadow: 0 2px 4px #69E9F5;
  font-family: Verdana;
  width: 150px;
}

label {
  margin: 0 4px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#state-filter-checkbox {
  margin: 1px 0 0 4px;
}

#state-filter-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 480px) {
    margin: 8px 0;
  }
  margin: 16px 0;
}

#state-filter-switch-container {
  @media (max-width: 480px) {
    margin: 8px 0 0;
  }

  margin: 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

#date-selectors label {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.search-button {
  border-radius: 16px;
  border: 1px solid #645FCD;
  background-color: #645FCD;
  color: #ffffff;
  font-family: Verdana;
  box-shadow: 0 2px 4px #69E9F5;
}

.search-button:hover {
  cursor: pointer;
}

.appointment-list-item {
  color: #645FCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #645FCD solid;
  border-radius: 16px;
  padding: 8px;
  box-shadow: 0 2px 4px #69E9F5;
  text-align: center;
  
  @media (max-width: 480px) {
    margin: 4px;
  }
  
  margin: 8px;
}

.modal-title {
  color: #645FCD !important;
}

#page-number-holder {
  display: flex;
  flex-direction: row;
}

.page-number {
  display: flex;
}

#scan-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#scan-modal-body div {
  color: #645FCD !important;
}

#next-available-container {
  display: flex;
  justify-content: center;
  height: fit-content;

  @media (max-width: 480px) {
    width: 400px;
    gap: 2px;
  }

  width: 600px;
  gap: 4px;
}

#search-results-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  
  @media (max-width: 480px) {
    width: 400px;
    gap: 2px;
  }

  width: 600px;
  gap: 8px;
}

#view-all-button, #refresh-button {
  margin: 4px 0 0;
}

#notification-disclaimer-body {
  color:#645FCD;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    gap: 4px;
  }

  gap: 8px;
}

.modal-text {
  color:#645FCD;
}

#book-button {
  @media (max-width: 480px) {
    margin: 0 0 0 4px;
  }

  margin: 0 0 0 8px;
}

#page-number-holder {
  display: flex;
  justify-content: center;

  @media (max-width: 480px) {
    margin: 8px 0 0;
    gap: 4px;
  }

  margin: 16px 0 0;
  gap: 8px;
}

.greyed-out-button {
  border-radius: 16px;
  border: 1px solid grey;
  background-color: grey;
  color: #ffffff;
  font-family: Verdana;
}

#scan-message-container {
  display: flex;
  justify-content: center;
  margin: 4px 0 0;
}

.error-container {
  @media (max-width: 480px) {
    margin: 9px 0 0;
    gap: 4px;
    width: 400px;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 18px 0 0;
  border: 1px solid #645FCD;
  font-weight: bold;
  width: 600px;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #69E9F5;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}